.App {
  text-align: center;
  background-image: linear-gradient(rgb(26, 26, 26), rgb(123, 4, 4), rgb(0, 0, 0));
  min-height:100vh;
  color:rgb(228, 228, 228);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-weight: 800;
  min-height: 5vh;
  
  text-transform:capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  -webkit-text-stroke:1px rgb(133, 28, 28);
  background: -webkit-linear-gradient(#d1d1d1, #9f5e22);
  -webkit-text-fill-color: transparent;
  padding:37px 0 0 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
